.css_clube_id_label { }
.css_clube_id_line {text-align:left;}
.css_clube_id_obj {text-align:left;}
.css_competicao_id_label { }
.css_competicao_id_line {text-align:left;}
.css_competicao_id_obj {text-align:left;}
.css_nome_clube_label { }
.css_nome_clube_line { }
.css_nome_clube_obj { }
.css_brasao_url_label { }
.css_brasao_url_line { }
.css_brasao_url_obj { }
.css_nome_api_clube_label { }
.css_nome_api_clube_line { }
.css_nome_api_clube_obj { }
