.css_bolao_id_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_bolao_id_grid_line {vertical-align: middle;text-align: center;}
.css_participantes_bolao_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_participantes_bolao_grid_line {vertical-align: middle;text-align: center;}
.css_relacs_bolao_usuar_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_relacs_bolao_usuar_id_grid_line {vertical-align: top;text-align: right;}
