.css_temporada_id_det_label {text-align: left;vertical-align: middle;}
.css_temporada_id_det_line {height:0px;text-align: left;}
.css_ano_temp_det_label {text-align: left;vertical-align: middle;}
.css_ano_temp_det_line {height:0px;text-align: left;}
