.css_temporada_id_det_label {text-align: right;vertical-align: middle;}
.css_temporada_id_det_line {height:0px;text-align: right;}
.css_ano_temp_det_label {text-align: right;vertical-align: middle;}
.css_ano_temp_det_line {height:0px;text-align: right;}
