.css_ano_temp_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_ano_temp_grid_line {vertical-align: top;text-align: right;}
.css_temporada_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_temporada_id_grid_line {vertical-align: top;text-align: right;}
