.css_competicao_id_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_competicao_id_grid_line {vertical-align: top;text-align: right;}
.css_num_rodada_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_num_rodada_grid_line {vertical-align: top;text-align: center;}
.css_temporada_id_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_temporada_id_grid_line {vertical-align: top;text-align: center;}
.css_dt_hr_inicio_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_dt_hr_inicio_grid_line {vertical-align: top;text-align: center;}
.css_dt_hr_fim_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_dt_hr_fim_grid_line {vertical-align: top;text-align: center;}
.css_rodada_atual_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_rodada_atual_grid_line {vertical-align: top;text-align: right;}
.css_rodada_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_rodada_id_grid_line {vertical-align: top;text-align: right;}
