.css_time_id_det_label {text-align: left;vertical-align: middle;}
.css_time_id_det_line {height:0px;text-align: left;}
.css_nome_time_det_label {text-align: left;vertical-align: middle;}
.css_nome_time_det_line {height:0px;text-align: left;}
