.css_login_id__label { }
.css_login_id__line { }
.css_login_id__obj { }
.css_time_casa_placar__label {text-align:;}
.css_time_casa_placar__line {text-align:left;}
.css_time_casa_placar__obj {text-align:left;}
.css_time_visitante_placar__label {text-align:;}
.css_time_visitante_placar__line {text-align:left;}
.css_time_visitante_placar__obj {text-align:left;}
.css_time_casa__label { }
.css_time_casa__line { }
.css_time_casa__obj { }
.css_time_visitante__label { }
.css_time_visitante__line { }
.css_time_visitante__obj { }
.css_x__label { }
.css_x__line { }
.css_x__obj { }
