.css_nome_apostador_label { }
.css_nome_apostador_line { }
.css_nome_apostador_obj { }
.css_placar_casa_label { }
.css_placar_casa_line {text-align:left;}
.css_placar_casa_obj {text-align:left;}
.css_placar_fora_label { }
.css_placar_fora_line {text-align:left;}
.css_placar_fora_obj {text-align:left;}
.css_time_casa_label { }
.css_time_casa_line { }
.css_time_casa_obj { }
.css_time_visitante_label { }
.css_time_visitante_line { }
.css_time_visitante_obj { }
