.css_temporada_id_label { }
.css_temporada_id_line {text-align:left;}
.css_temporada_id_obj {text-align:left;}
.css_ano_temp_label { }
.css_ano_temp_line {text-align:left;}
.css_ano_temp_obj {text-align:left;}
