.css_competicao_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_competicao_id_grid_line {vertical-align: top;text-align: right;}
.css_nome_clube_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nome_clube_grid_line {vertical-align: top;text-align: right;}
.css_clube_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_clube_id_grid_line {vertical-align: top;text-align: right;}
