.css_apostas_aposta_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_apostas_aposta_id_grid_line {vertical-align: top;text-align: right;}
.css_apostas_dt_hr_aposta_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_apostas_dt_hr_aposta_grid_line {vertical-align: top;text-align: center;}
.css_jogos_rodada_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_jogos_rodada_grid_line {vertical-align: top;text-align: center;}
.css_jogos_data_jogo_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_jogos_data_jogo_grid_line {vertical-align: top;text-align: center;}
.css_jogos_horario_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_jogos_horario_grid_line {vertical-align: top;text-align: center;}
.css_jogos_time_casa_id_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_jogos_time_casa_id_grid_line {vertical-align: top;text-align: center;}
.css_apostas_time_casa_placar_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_apostas_time_casa_placar_grid_line {vertical-align: top;text-align: center;}
.css_x_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_x_grid_line {text-align: left;}
.css_apostas_time_visitante_placar_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_apostas_time_visitante_placar_grid_line {vertical-align: top;text-align: center;}
.css_jogos_time_visitante_id_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_jogos_time_visitante_id_grid_line {vertical-align: top;text-align: center;}
.css_apostas_pontos_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_apostas_pontos_grid_line {vertical-align: top;text-align: center;}
.css_sit_aposta_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_sit_aposta_grid_line {text-align: left;}
