.css_apostas_login_id_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_apostas_login_id_grid_line {vertical-align: top;text-align: center;}
.css_tot_pontos_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tot_pontos_grid_line {vertical-align: top;text-align: center;}
