.css_aposta_copa_id_det_label {text-align: left;vertical-align: middle;}
.css_aposta_copa_id_det_line {height:0px;text-align: left;}
.css_jogo_id_det_label {text-align: left;vertical-align: middle;}
.css_jogo_id_det_line {height:0px;text-align: left;}
.css_nome_apostador_det_label {text-align: left;vertical-align: middle;}
.css_nome_apostador_det_line {height:0px;text-align: left;}
.css_placar_casa_det_label {text-align: left;vertical-align: middle;}
.css_placar_casa_det_line {height:0px;text-align: left;}
.css_placar_fora_det_label {text-align: left;vertical-align: middle;}
.css_placar_fora_det_line {height:0px;text-align: left;}
