.css_time_id_label { }
.css_time_id_line {text-align:left;}
.css_time_id_obj {text-align:left;}
.css_nome_time_label { }
.css_nome_time_line { }
.css_nome_time_obj { }
.css_num_comp_label { }
.css_num_comp_line {text-align:left;}
.css_num_comp_obj {text-align:left;}
