.css_time_casa_placar_label { }
.css_time_casa_placar_line {text-align:left;}
.css_time_casa_placar_obj {text-align:left;}
.css_time_visitante_placar_label { }
.css_time_visitante_placar_line {text-align:left;}
.css_time_visitante_placar_obj {text-align:left;}
.css_bolao_id_label { }
.css_bolao_id_line { }
.css_bolao_id_obj { }
.css_time_casa_label { }
.css_time_casa_line { }
.css_time_casa_obj { }
.css_time_visitante_label { }
.css_time_visitante_line { }
.css_time_visitante_obj { }
