.css_nome_bolao_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_nome_bolao_grid_line {vertical-align: top;text-align: center;}
.css_adm_bolao_id_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_adm_bolao_id_grid_line {vertical-align: top;text-align: center;}
.css_add_comp_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_add_comp_grid_line {text-align: center;}
.css_add_particpantes_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_add_particpantes_grid_line {text-align: center;}
.css_convidar_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_convidar_grid_line {text-align: center;}
.css_url_convite_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_url_convite_grid_line {text-align: center;}
.css_bolao_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_bolao_id_grid_line {vertical-align: top;text-align: right;}
