.css_rodada_id_label { }
.css_rodada_id_line {text-align:left;}
.css_rodada_id_obj {text-align:left;}
.css_num_rodada_label { }
.css_num_rodada_line {text-align:left;}
.css_num_rodada_obj {text-align:left;}
.css_dt_hr_inicio_label { }
.css_dt_hr_inicio_line { }
.css_dt_hr_inicio_obj { }
.css_dt_hr_fim_label { }
.css_dt_hr_fim_line { }
.css_dt_hr_fim_obj { }
.css_temporada_id_label { }
.css_temporada_id_line {text-align:left;}
.css_temporada_id_obj {text-align:left;}
.css_competicao_id_label { }
.css_competicao_id_line {text-align:left;}
.css_competicao_id_obj {text-align:left;}
